{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            font-family: Helvetica, sans-serif;
            background-color: #4663ac;
            padding: 20x;
            height: 100vh; /* Full viewport height */
            display: flex;
            justify-content: center; /* Centers horizontally */
            align-items: center; /* Centers vertically */
            margin: 0; /* Removes default margin */
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            width: 100%; /* Make the container stretch to the full width */
            display: flex;
            flex-direction: column; /* Ensures children are arranged in a column */
            justify-content: space-between; /* Adds space between the elements */
        }
        h1 {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 10px;
            margin: 20px 0;
            color: #4663ac;
        }
        form {
            margin-top: 20px;
        }
        table {
            font-family: Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        td {
            padding: 12px;
            vertical-align: top;
        }
        td:first-child {
            text-align: right;
            font-weight: bold;
            width: 30%;
            padding-right: 20px;
        }
        td:last-child {
            width: 70%;
        }
        input[type="text"], input[type="number"], textarea, select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #7AA9Ed;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            margin-top: 20px;
        }
        input[type="submit"]:hover {
            background-color: #7AA9Ed;
        }
        textarea {
            resize: vertical;
        }
    </style>

    <div class="container">
        <h1>Add New Item</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Create Show Form" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock content %}
